<div class="row justify-content-md-center">
    <div class="col-md-4">
        {{#if message}}
            <div class="alert {{messageClass}}">
                {{message}}
            </div>
        {{/if}}
        <form action="/login" method="POST">
            <div class="mb-3">
                Correo Electronico:
                <input type="text" class="form-control" name="email" />
            </div>
            <div class="mb-3">
                Contraseña:
                <input type="password" class="form-control" name="password" />
            </div>
            <button type="submit" class="btn btn-primary">LOGIN</button>
        </form>
    </div>
</div>